{% comment %}V4.4.14 - November 2021
This liquid snippet is used by Discount Ninja
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div id="limoniapps-discountninja-badge-template" style="display:none;">
  <div class="limoniapps-discountninja-badge [[DASH]] [[SIZE]] [[POSITION]]" data-style="[[STYLE]]" data-token="[[TOKEN]]">
	  <div class="limoniapps-discountninja-badge-inner"> 
		 <div class="limoniapps-discountninja-badge-inner-border">[[TEXT]]</div>
	  </div>
  </div>
</div>